
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giriş Sayfası</h2>

<p>Alonet Web Chat Uygulaması </p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Admin İşlemleri İçin Yan Taraftaki Menüyü Kullanınız.</li>
    <li class="list-group-item">Mesajlaşma Uygulamasına Gidebilmek İçin Anasayfa Sekmesine Tıklayınız.</li>
    <li class="list-group-item">Kullanıcı Eklemek İçin Kullanıcı İşlemlerinin Altındaki Ekle Butonuna Tıklayınız.</li>
    <li class="list-group-item">Kullanıyı Silme veya Bilgilerini Güncellemek İçin Kullanıcı İşlemlerinin Altındaki Listeles Butonuna Tıklayınız.</li>
</ul> 

